Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-base-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  magnum-container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  magnum-container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$

fcos: Mount /:/rootfs:ro to Kubelet
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add selinux_mode label
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/disable-selinux.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/support-selinux-mode-5bd2a3ece23a2caa.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Upgrade default coreDNS version to 1.6.6
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/upgrade-coredns-25f3879c3a658309.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Improve the taint of master node kubelet
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-helm-tiller.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  releasenotes/notes/improve-k8s-master-kubelet-taint-0c56ffede270116d.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Upgrade calico to the latest stable version
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/upgrade-calico-6912a6f4fb5c21de.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fcos: Upgrade etcd to v3.4.6, use quay.io/coreos/etcd
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/upgrade-etcd-and-use-quay-io-coreos-etcd-1cb8e38e974f5975.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fcos: Upgrade default flannel_tag to v0.12.0-amd64
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/upgrade-flannel-db5ef049e23fc4a8.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

fcos: Disable zincati auto-updates
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Cleanup py27 support
  doc/requirements.txt
  lower-constraints.txt
  requirements.txt
  setup.cfg
  setup.py
  test-requirements.txt
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Support calico v3.3.6
  magnum/drivers/common/templates/kubernetes/fragments/calico-service-v3-3-x.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/upgrade-calico-6912a6f4fb5c21de.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Support updating k8s cluster health status
  doc/source/user/index.rst
  doc/source/user/k8s-health-monitoring.rst
  magnum/api/controllers/v1/cluster.py
  magnum/api/utils.py
  magnum/api/validation.py
  magnum/common/policies/cluster.py
  magnum/conductor/api.py
  magnum/conductor/handlers/cluster_conductor.py
  magnum/drivers/common/k8s_monitor.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/conductor/handlers/test_cluster_conductor.py
  magnum/tests/unit/conductor/test_monitors.py
  magnum/tests/unit/conductor/test_rpcapi.py
  magnum/tests/unit/db/utils.py
  releasenotes/notes/support-updating-k8s-cluster-health-via-api-b8a3cac3031c50a5.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fix: Open udp port 53 on master to support CoreDNS
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Use ensure-* roles
  playbooks/container-builder-setup-gate.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Build new autoscaler containers
  dockerfiles/cluster-autoscaler/Dockerfile
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

fcos-kubelet: Add rpc-statd dependency
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  releasenotes/notes/kubelet-nfs-b51e572adfb56378.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix ServerAddressOutputMapping for private clusters
  contrib/drivers/heat/dcos_centos_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/fix-serveraddressoutputmapping-for-private-clusters-73a874bb4827d568.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

[k8s] Expose traefik prometheus metrics
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
  releasenotes/notes/expose_traefik_metrics-aebbde99d4ecc231.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Remove nodeSelector for flannel DaemonSet
  magnum/drivers/common/templates/kubernetes/fragments/flannel-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Introduce helm_client_tag label.
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/helm/ingress-nginx.sh
  magnum/drivers/common/templates/kubernetes/helm/metrics-server.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-adapter.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/helm_client_label-1d6e70dfcf8ecd0d.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s-fcos] Bump up default versions to v1.18.x
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/k8s-fcos-version-bumps-ca89507d2cf15384.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Change the order of resource creation
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Add opt-in containerd support
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/add-proxy.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/install-cri.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/containerd-598761bb536af6ba.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Ussuri contributor docs community goal
  CONTRIBUTING.rst
  doc/source/contributor/contributing.rst
Due: none

[ci] Use Fedora CoreOS image for devstack plugin
  .zuul.yaml
  devstack/lib/magnum
  devstack/plugin.sh
  magnum/tests/contrib/gate_hook.sh
  magnum/tests/contrib/post_test_hook.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

[ci] Use magnum-tempest-plugin-tests-api
  .zuul.yaml
  magnum/tests/contrib/post_test_hook.sh
  tox.ini
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

[k8s] Fix no IP address in api_address
  magnum/drivers/heat/template_def.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/missing-ip-in-api-address-c25eef757d5336aa.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Expose autoscaler prometheus metrics
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-scaling.sh
  releasenotes/notes/expose_autoscaler_metrics-0ea9c61660409efe.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Scrape traefik and autoscaler metrics
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  releasenotes/notes/monitoring_scrape_ca_and_traefik-5544d8dd5ab7c234.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Deploy traefik from the heat-agent
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
  releasenotes/notes/Deploy-traefik-from-the-heat-agent-0bb32f0f2c97405d.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s: Add admin.conf kubeconfig
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update prometheus monitoring chart and images
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/helm/prometheus-adapter.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  releasenotes/notes/update_prometheus_monitoring-342a86f826be6579.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Upgrade k8s dashboard version to v2.0.0
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/k8s-dashboard-v2.0.0-771ce78b527209d3.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add an ARCH parameter to handle arch specific things
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/helm/metrics-server.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-adapter.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s: Use the same kubectl version as API
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/install-clients.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode
