Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

magnum-functional-base:
  parent: legacy-dsvm-base
  timeout: 7800
  nodeset: legacy-ubuntu-xenial
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  ...

magnum-functional-multinode-base:
  parent: legacy-dsvm-base-multinode
  timeout: 7800
  nodeset: legacy-ubuntu-xenial-2-node
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/diskimage-builder
  ...

magnum-functional-api:
  parent: magnum-functional-base
  vars:
    coe: api

magnum-functional-k8s:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode:
  parent: magnum-functional-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-functional-dcos:
  parent: magnum-functional-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: dcos

magnum-functional-mesos:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: mesos

magnum-functional-swarm:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: swarm

magnum-functional-k8s-ironic:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: k8s
    ironic: 1

magnum-functional-swarm-ironic:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: swarm
    ironic: 1

magnum-functional-k8s-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

[k8s] Take container_infra_prefix from cluster if specified
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Change the name of kubernetes-dashboard deployment.
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Change the name of kubernetes-dashboard deployment in Pike.
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

federation api: federation table and db layer
  magnum/common/exception.py
  magnum/db/api.py
  magnum/db/sqlalchemy/alembic/versions/9a1539f1cd2c_add_federation_table.py
  magnum/db/sqlalchemy/api.py
  magnum/db/sqlalchemy/models.py
  magnum/tests/unit/db/test_federation.py
  magnum/tests/unit/db/utils.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fix url for versioned objects docs in code
  magnum/tests/unit/objects/test_objects.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Add missing verify_ca in minion_wc_notify
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubeminion_software_configs.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Add openstack_ca_file configuration option
  devstack/lib/magnum
  doc/source/admin/troubleshooting-guide.rst
  magnum/common/utils.py
  magnum/conf/drivers.py
  magnum/drivers/common/templates/fragments/atomic-install-openstack-ca.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_coreos_v1/templates/fragments/add-ext-ca-certs.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubeminion_software_configs.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/fragments/add-ext-ca-certs.sh
  magnum/drivers/mesos_ubuntu_v1/templates/mesos_slave_software_configs.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesosmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmnode.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmnode.yaml
  magnum/tests/unit/common/test_utils.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  releasenotes/notes/bug-1580704-32a0e91e285792ea.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ci: Add redirection from /v2 to /identity/v2
  devstack/lib/magnum
  devstack/plugin.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Support soft-anti-affinity policy for nodes
  magnum/conf/cluster.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubeminion.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesosmaster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesosslave.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmnode.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmnode.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/support_nodes_affinity_policy-22253fb9cf6739ec.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Zuul: Remove project name
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Remove broken job magnum-non-functional-tox-migration
  .zuul.yaml
  playbooks/magnum-tox-migration.yaml
  playbooks/post/upload-logs-tox.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Start RPC service before waiting
  magnum/cmd/conductor.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add openstack_ca_file configuration option
  doc/source/admin/troubleshooting-guide.rst
  magnum/common/utils.py
  magnum/conf/drivers.py
  magnum/drivers/common/templates/fragments/atomic-install-openstack-ca.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_coreos_v1/templates/fragments/add-ext-ca-certs.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubeminion_software_configs.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/fragments/add-ext-ca-certs.sh
  magnum/drivers/mesos_ubuntu_v1/templates/mesos_slave_software_configs.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesosmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmnode.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmnode.yaml
  magnum/tests/unit/common/test_utils.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  releasenotes/notes/bug-1580704-32a0e91e285792ea.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add send_cluster_metrics configuration parameter
  devstack/lib/magnum
  magnum/conf/drivers.py
  magnum/service/periodic.py
  magnum/tests/unit/service/test_periodic.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Corrected some misspellings in magnum
  doc/source/admin/index.rst
  magnum/tests/functional/common/models.py
  magnum/tests/unit/conductor/handlers/test_cluster_conductor.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add label availability_zone
  doc/source/user/index.rst
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmnode.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/availability_zone-2d73671f5ea065d8.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Deprecate usage of tenant and user in context
  magnum/common/context.py
  magnum/drivers/mesos_ubuntu_v1/template_def.py
  magnum/tests/unit/common/test_context.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Support accessing all clusters/templates across projects
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/cluster_template.py
  magnum/common/policies/cluster.py
  magnum/common/policies/cluster_template.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
  releasenotes/notes/support-all-tenants-for-admin-a042f5c520d35837.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s: Fix kubelet, add RBAC and pass e2e tests
  doc/source/contributor/quickstart.rst
  doc/source/user/index.rst
  magnum/common/x509/operations.py
  magnum/conductor/handlers/common/cert_manager.py
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-prometheus-monitoring
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-system-namespace-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubemaster.yaml
  magnum/tests/functional/python_client_base.py
  magnum/tests/unit/common/x509/test_sign.py
  magnum/tests/unit/conductor/handlers/common/test_cert_manager.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add issue to reno for the incompatible k8s client
  releasenotes/notes/broken-kuberenetes-client-d2d1da6029825208.yaml
Due: none

Replace CentOS package mysql-devel > mariadb-devel
  doc/source/contributor/quickstart.rst
  doc/source/install/install-guide-from-source.rst
Due: none

Update .gitreview for stable/queens
  .gitreview
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Driver's name are case sensitive
  doc/source/user/index.rst
Due: none

federation api: api endpoints
  magnum/api/attr_validator.py
  magnum/api/controllers/v1/__init__.py
  magnum/api/controllers/v1/federation.py
  magnum/api/validation.py
  magnum/cmd/conductor.py
  magnum/common/exception.py
  magnum/common/policies/__init__.py
  magnum/common/policies/federation.py
  magnum/conductor/api.py
  magnum/conductor/handlers/federation_conductor.py
  magnum/drivers/common/driver.py
  magnum/drivers/heat/driver.py
  magnum/objects/__init__.py
  magnum/objects/federation.py
  magnum/objects/fields.py
  magnum/tests/unit/api/controllers/test_root.py
  magnum/tests/unit/api/controllers/v1/test_federation.py
  magnum/tests/unit/api/utils.py
  magnum/tests/unit/conductor/handlers/test_federation_conductor.py
  magnum/tests/unit/objects/test_federation.py
  magnum/tests/unit/objects/test_objects.py
  magnum/tests/unit/objects/utils.py
  releasenotes/notes/add-federation-api-cf55d04f96772b0f.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Now user can update label values in cluster-template
  magnum/api/utils.py
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
  releasenotes/notes/cluster_template_update_labels-10ce66c87795f11c.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Change swarm ClusterTemplate coe to swarm-mode
  doc/source/contributor/quickstart.rst
Due: none

Updated from global requirements
  requirements.txt
  test-requirements.txt
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Document use of kube_tag label
  doc/source/user/index.rst
  specs/containers-service.rst
Due: none

[k8s] allow enabling kubernetes cert manager api
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-cert-api-manager
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/cert-manager-api-ee0cf7f3b767bb5d.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for Octavia resources in Heat
  magnum/common/exception.py
  magnum/common/keystone.py
  magnum/drivers/common/templates/environments/with_master_lb_octavia.yaml
  magnum/drivers/heat/template_def.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix k8s_coreos_v1 template incorrect yaml
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Add missed space in k8s template file
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
