Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

magnum-functional-base:
  parent: legacy-dsvm-base
  timeout: 7800
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  - openstack/ironic-lib
  ...

magnum-functional-base-python2:
  parent: legacy-dsvm-base
  timeout: 7800
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  - openstack/ironic-lib
  ...

magnum-functional-multinode-base:
  parent: legacy-dsvm-base-multinode
  timeout: 7800
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  - openstack/ironic-lib
  ...

magnum-functional-api:
  parent: magnum-functional-base
  vars:
    coe: api

magnum-functional-api-python2:
  parent: magnum-functional-base-python2
  vars:
    coe: api

magnum-functional-coe:
  parent: magnum-functional-base
  nodeset:
    nodes:
    - name: primary
      label: ubuntu-bionic-vexxhost

magnum-functional-k8s:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode:
  parent: magnum-functional-coe
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-functional-dcos:
  parent: magnum-functional-coe
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: dcos

magnum-functional-mesos:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: mesos

magnum-functional-swarm:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: swarm

magnum-functional-k8s-ironic:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: k8s
    ironic: 1

magnum-functional-swarm-ironic:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: swarm
    ironic: 1

magnum-functional-k8s-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-container-build:
  pre-run: playbooks/container-builder-setup-gate.yaml
  run: playbooks/container-builder.yaml
  post-run: playbooks/container-builder-copy-logs.yaml
  roles:
  - zuul: openstack/openstack-zuul-jobs
  timeout: 1200

magnum-container-publish:
  parent: magnum-container-build
  post-run: playbooks/container-publish.yaml
  secrets:
  - magnum_docker_login
  timeout: 1200

Add an ARCH parameter to handle arch specific things
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/flannel-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/helm/metrics-server.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-adapter.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix ingress traefik systemd unit
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Fix instance ID issue with podman and autoscaler
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

core-podman: Mount os-release properly
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  releasenotes/notes/use_podman-39532143be2296c2.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix the load balancer description regex pattern for deleting cluster
  magnum/common/octavia.py
  magnum/tests/unit/common/test_octavia.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix Field `health_status_reason[api]' cannot be None`
  magnum/drivers/common/k8s_monitor.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s_coreos Set REQUESTS_CA for heat-agent
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
  releasenotes/notes/fedora_coreos-e66b44d86dea380f.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Fix api-cert-manager=true blocking cluster creation
  magnum/drivers/common/templates/kubernetes/fragments/enable-cert-api-manager.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  releasenotes/notes/fix-cert-apimanager-527352622c5a9c3b.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Make metrics-server work without DNS
  magnum/drivers/common/templates/kubernetes/helm/metrics-server.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[bug] Fix regression when use_podman=false
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Remove buildimage jobs
  .zuul.yaml
  playbooks/magnum-buildimages-base.yaml
  playbooks/post/upload-images.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

[k8s] Support post install manifest URL
  doc/source/user/index.rst
  magnum/conf/kubernetes.py
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/support-post-install-file-1fe7afe7698dd7b2.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[hca] Restore deploy_{stdout,stderr,status_code}
  dockerfiles/heat-container-agent/scripts/hooks/script
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

atomic-podman: Set log imit to 50m
  magnum/drivers/common/templates/kubernetes/fragments/start-container-agent.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add fcct config for coreos user_data
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

fcos-podman: Set max size for logging to 50m
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

calico: Add node/status in ClusterRole
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add node groups documentation
  doc/source/user/index.rst
  doc/source/user/node-groups.rst
Due: none

Support TimeoutStartSec for k8s systemd services
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fcos: Disable zincati auto-updates
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

k8s-fedora: Set max-size to 10m for containers
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Release k8s v1.15.11 image
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Upgrade pause image to version 3.1
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[stable] Remove magnum-container-publish from .zuul.yaml
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Update default calico_ipv4pool
  doc/source/user/index.rst
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Fix join of status_reason
  magnum/drivers/heat/driver.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add cinder_csi_enabled label
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-cinder-csi.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/cinder-csi-enabled-label-ab2b8ade63c57cf3.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Use cluster name for fixed_network instead of private
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s: Fix logic of when a cluster API is accessible
  magnum/drivers/common/k8s_monitor.py
  magnum/tests/unit/conductor/test_monitors.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix calico regression issue caused by default ipv4pool change
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-base-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  magnum-container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  magnum-container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
