Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-base-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  magnum-container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  magnum-container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$

Hardcode the names of the default NGs
  magnum/db/sqlalchemy/alembic/versions/461d798132c7_change_cluster_to_support_nodegroups.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix registry on k8s_fedora_atomic
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Set default value for keystone_auth_default_policy
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

[fedora-atomic] kube_tag is not respcted
  magnum/drivers/heat/k8s_template_def.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s: Clear cni configuration
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Allow for cluster-autoscaler deployment roll-out
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-scaling.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Revert "support http/https proxy for discovery url"
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix overlay2 + docker_volume_size
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ci: Fix ADD_ALLOW_PRIV build-arg
  dockerfiles/kubernetes-apiserver/Dockerfile
  dockerfiles/kubernetes-controller-manager/Dockerfile
  dockerfiles/kubernetes-kubelet/Dockerfile
  dockerfiles/kubernetes-proxy/Dockerfile
  dockerfiles/kubernetes-scheduler/Dockerfile
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Add Python 3 Train unit tests
  .zuul.yaml
  setup.cfg
  tox.ini
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Update api-ref location
  magnum/api/http_error.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix kubernetes systemd service templates
  dockerfiles/heat-container-agent/service.template
  dockerfiles/kubernetes-apiserver/service.template
  dockerfiles/kubernetes-controller-manager/service.template
  dockerfiles/kubernetes-kubelet/service.template
  dockerfiles/kubernetes-proxy/service.template
  dockerfiles/kubernetes-scheduler/service.template
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Support auto_healing_controller
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-healing.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-scaling.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/support-auto-healing-controller-333d1266918111e9.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

heat-agent: Do not use absolute path
  dockerfiles/heat-container-agent/launch
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Update current k8s version after upgrade
  magnum/drivers/common/templates/kubernetes/fragments/upgrade-kubernetes.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Return ClusterID for resize and upgrade
  magnum/api/controllers/v1/cluster_actions.py
  releasenotes/notes/return-clusterid-for-resize-upgrade-6e841c7b568fa807.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Set train-dev as the default tag for heat-container-agent
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  playbooks/container-builder-vars.yaml
  releasenotes/notes/heat-container-agent-for-train-e63bc1559750fe9c.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Update docs links
  doc/source/admin/configuring.rst
  doc/source/admin/troubleshooting-guide.rst
  doc/source/contributor/functional-test.rst
  doc/source/contributor/objects.rst
  doc/source/contributor/policies.rst
  doc/source/contributor/quickstart.rst
  doc/source/contributor/reno.rst
  doc/source/install/index.rst
  doc/source/install/install-guide-from-source.rst
  doc/source/install/install.rst
  doc/source/install/launch-instance.rst
  doc/source/install/next-steps.rst
  doc/source/user/cluster-type-definition.rst
  doc/source/user/glossary.rst
  doc/source/user/index.rst
  doc/source/user/kubernetes-load-balancer.rst
Due: none

Add information about the cluster in magnum event notifications
  magnum/conductor/handlers/cluster_conductor.py
  magnum/conductor/utils.py
  magnum/service/periodic.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/service/test_periodic.py
  releasenotes/notes/add-information-about-cluster-in-event-notifications-a3c992ab24b32fbd.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add network config to stabilise multi-NIC scenario
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix py3 issue of heat-container-agent
  dockerfiles/heat-container-agent/scripts/55-heat-config
  dockerfiles/heat-container-agent/scripts/heat-config-notify
  dockerfiles/heat-container-agent/scripts/hooks/atomic
  dockerfiles/heat-container-agent/scripts/hooks/docker-compose
  dockerfiles/heat-container-agent/scripts/hooks/script
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Support py3.x for make cert scripts
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Blacklist sphinx 2.1.0 (autodoc bug)
  doc/requirements.txt
  test-requirements.txt
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Allow setting network, subnet and FIP when creating cluster
  contrib/drivers/heat/dcos_centos_template_def.py
  magnum/api/controllers/v1/bay.py
  magnum/api/controllers/v1/cluster.py
  magnum/db/sqlalchemy/alembic/versions/47380964133d_add_network_subnet_fip_to_cluster.py
  magnum/db/sqlalchemy/models.py
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/mesos_ubuntu_v1/template_def.py
  magnum/objects/cluster.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/drivers/test_template_definition.py
  magnum/tests/unit/objects/test_objects.py
  releasenotes/notes/allow-setting-network-subnet-FIP-when-creating-cluster-ae0cda35ade28a9f.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Bump the openstackdocstheme extension to 1.20
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Fix openstack-cloud-controller-manager restarts
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update for Storyboard
  CONTRIBUTING.rst
  api-ref/source/conf.py
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Update "auth_url" port in install docs
  doc/source/install/common/configure_2_edit_magnum_conf.rst
Due: none

Release k8s images v1.15.2, v1.14.5, v1.13.9 and v1.12.10
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

k8s: stop introspecting instance name
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
  magnum/drivers/common/templates/kubernetes/fragments/upgrade-kubernetes.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/k8s_coreos_v1/templates/fragments/enable-kubelet-master.yaml
  magnum/drivers/k8s_coreos_v1/templates/fragments/enable-kubelet-minion.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix addon tag/version parsing
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Improve dns format validation
  magnum/common/utils.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix cloud-config file
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[api-ref] Add network,subnet and FIP for cluster
  api-ref/source/clusters.inc
  api-ref/source/parameters.yaml
Due: none

Fix heat-container-agent by setting LC_ALL=C
  dockerfiles/heat-container-agent/launch
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Disable gpg check in fedora:rawhide image
  dockerfiles/heat-container-agent/Dockerfile
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

kubernetes builds for v1.{13,14,15,16}.x
  playbooks/container-builder-vars.yaml
  playbooks/container-builder.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Publish 1.16 k8s images
  playbooks/container-publish.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Using Fedora Atomic 29 as default image
  devstack/lib/magnum
  devstack/plugin.sh
  magnum/tests/contrib/gate_hook.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish
