Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$

Now user can update label values in cluster-template
  magnum/api/utils.py
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
  releasenotes/notes/cluster_template_update_labels-10ce66c87795f11c.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] allow enabling kubernetes cert manager api
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-cert-api-manager
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/cert-manager-api-ee0cf7f3b767bb5d.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Check CERT_MANAGER_API if True or False
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Enables MySQL Cluster Support for Magnum
  magnum/db/sqlalchemy/alembic/versions/05d3e97de9ee_add_volume_driver.py
  magnum/db/sqlalchemy/alembic/versions/2581ebaf0cb2_initial_migration.py
  magnum/db/sqlalchemy/alembic/versions/35cff7c86221_add_private_network_to_baymodel.py
  magnum/db/sqlalchemy/alembic/versions/3be65537a94a_add_network_driver_baymodel_column.py
  magnum/db/sqlalchemy/alembic/versions/4956f03cabad_add_cluster_distro.py
  magnum/db/sqlalchemy/alembic/versions/4ea34a59a64c_add_discovery_url_to_bay.py
  magnum/db/sqlalchemy/alembic/versions/5518af8dbc21_rename_cert_uuid.py
  magnum/db/sqlalchemy/alembic/versions/592131657ca1_add_coe_column_to_baymodel.py
  magnum/db/sqlalchemy/alembic/versions/5d4caa6e0a42_create_trustee_for_each_bay.py
  magnum/db/sqlalchemy/alembic/versions/966a99e70ff_add_proxy.py
  magnum/db/sqlalchemy/alembic/versions/e0653b2d5271_add_fixed_subnet_column_to_baymodel_table.py
  magnum/db/sqlalchemy/alembic/versions/e647f5931da8_add_insecure_registry_to_baymodel.py
  magnum/db/sqlalchemy/alembic/versions/fcb4efee8f8b_add_version_info_to_bay.py
  magnum/db/sqlalchemy/models.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

federation api: api endpoints
  magnum/api/attr_validator.py
  magnum/api/controllers/v1/__init__.py
  magnum/api/controllers/v1/federation.py
  magnum/api/validation.py
  magnum/cmd/conductor.py
  magnum/common/exception.py
  magnum/common/policies/__init__.py
  magnum/common/policies/federation.py
  magnum/conductor/api.py
  magnum/conductor/handlers/federation_conductor.py
  magnum/drivers/common/driver.py
  magnum/drivers/heat/driver.py
  magnum/objects/__init__.py
  magnum/objects/federation.py
  magnum/objects/fields.py
  magnum/tests/unit/api/controllers/test_root.py
  magnum/tests/unit/api/controllers/v1/test_federation.py
  magnum/tests/unit/api/utils.py
  magnum/tests/unit/conductor/handlers/test_federation_conductor.py
  magnum/tests/unit/objects/test_federation.py
  magnum/tests/unit/objects/test_objects.py
  magnum/tests/unit/objects/utils.py
  releasenotes/notes/add-federation-api-cf55d04f96772b0f.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Using v1.9.3 as default k8s version
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Add disabled_drivers config option
  magnum/api/controllers/v1/cluster_template.py
  magnum/api/validation.py
  magnum/conf/drivers.py
  magnum/drivers/common/driver.py
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Support calico as network driver
  doc/source/user/index.rst
  magnum/api/validation.py
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/calico-network-driver-0199c2459041ae81.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for Octavia resources in Heat
  magnum/common/exception.py
  magnum/common/keystone.py
  magnum/drivers/common/templates/environments/with_master_lb_octavia.yaml
  magnum/drivers/heat/template_def.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Driver's name are case sensitive
  doc/source/user/index.rst
Due: none

Run etcd and flanneld in a system container
  devstack/plugin.sh
  doc/source/contributor/quickstart.rst
  doc/source/install/launch-instance.rst
  doc/source/user/index.rst
  magnum/drivers/common/templates/fragments/configure_docker_storage_driver_atomic.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
  magnum/drivers/common/templates/kubernetes/fragments/network-config-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/network-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-network-config.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/contrib/gate_hook.sh
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/update-to-f27-cc8aa873cdf111bc.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Admin can now delete clusters in any project
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/cluster_template.py
  magnum/common/policies/cluster.py
  magnum/common/policies/cluster_template.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[kubernetes] add ingress controller
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-controller
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/ingress-controller-552ea956ceabdd25.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s: allow passing extra options to kube daemons
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

kuberntes: Disable the scale_manager for scale down
  magnum/drivers/k8s_coreos_v1/driver.py
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
  magnum/drivers/k8s_fedora_ironic_v1/driver.py
  releasenotes/notes/broken-kuberenetes-client-d2d1da6029825208.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Update kubernetes dashboard to v1.8.3
  doc/source/user/index.rst
  magnum/drivers/common/image/heat-container-agent/Dockerfile
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubemaster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/update-kubernetes-dashboard-5196831c32d55aee.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Specify grafana version
  magnum/drivers/common/templates/kubernetes/fragments/enable-prometheus-monitoring
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Change swarm ClusterTemplate coe to swarm-mode
  doc/source/contributor/quickstart.rst
Due: none

Use pip_check_reqs module
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add minimum system requirements to docs
  doc/source/contributor/quickstart.rst
Due: none

Add reno for RBAC and client incompatibility
  releasenotes/notes/RBAC-and-client-incompatibility-fdfeab326dfda3bf.yaml
Due: none

Update minimum version of docker in unit tests
  magnum/tests/unit/common/test_docker_utils.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

TrivialFix: Correcting JSON syntax
  api-ref/source/samples/certificates-ca-show-resp.json
  api-ref/source/samples/cluster-get-one-resp.json
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add missing RBAC config for Prometheus
  magnum/drivers/common/templates/kubernetes/fragments/enable-prometheus-monitoring
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add service account to daemonset in traefik
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

add lower-constraints job
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add oslo_log command options to magnum-db-manage
  magnum/cmd/db_manage.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode
