Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-base-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  magnum-container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  magnum-container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$

k8s_fedora: Move rp_filter=1 for calico up
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add wiki Admin guide and Contributing notes link to README
  README.rst
Due: none

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Return default quota from API
  magnum/api/controllers/v1/quota.py
  magnum/tests/unit/api/controllers/v1/test_quota.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Pass ssh public key as string
  contrib/drivers/dcos_centos_v1/templates/dcoscluster.yaml
  magnum/common/nova.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

k8s_atomic: Run all syscontainer with podman
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/start-container-agent.sh
  magnum/drivers/common/templates/kubernetes/fragments/upgrade-kubernetes.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fixing typos and spelling errors in driver template files
  magnum/drivers/k8s_coreos_v1/template_def.py
  magnum/drivers/swarm_fedora_atomic_v1/templates/swarmmaster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmmaster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-6: Add new fields to nodegroup objects
  magnum/conductor/handlers/cluster_conductor.py
  magnum/db/api.py
  magnum/db/sqlalchemy/alembic/versions/c04e925e65c2_nodegroups_v2.py
  magnum/db/sqlalchemy/api.py
  magnum/db/sqlalchemy/models.py
  magnum/objects/nodegroup.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/objects/test_objects.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-7: Adapt parameter and output mappings
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/mesos_ubuntu_v1/template_def.py
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-8: APIs for nodegroup CRUD operations
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/nodegroup.py
  magnum/cmd/conductor.py
  magnum/common/exception.py
  magnum/common/policies/nodegroup.py
  magnum/conductor/api.py
  magnum/conductor/handlers/nodegroup_conductor.py
  magnum/conductor/utils.py
  magnum/drivers/common/driver.py
  magnum/drivers/heat/driver.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_nodegroup.py
  magnum/tests/unit/api/utils.py
  magnum/tests/unit/conductor/handlers/test_nodegroup_conductor.py
  magnum/tests/unit/conductor/test_rpcapi.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/objects/utils.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-9: Driver for nodegroup operations
  magnum/drivers/heat/driver.py
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/mesos_ubuntu_v1/template_def.py
  magnum/tests/unit/conductor/handlers/test_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_heat_driver.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Drop deprecated APIs for kube v1.16 support
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-helm-tiller.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-keystone-auth.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-prometheus-monitoring.sh
  magnum/drivers/common/templates/kubernetes/fragments/flannel-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/k8s_coreos_v1/templates/fragments/enable-coredns.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Change the order of resource creation
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Improve log of k8s health status check
  magnum/drivers/common/k8s_monitor.py
  magnum/objects/fields.py
  magnum/tests/unit/conductor/test_monitors.py
  magnum/tests/unit/objects/test_objects.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Set cniVersion for flannel
  magnum/drivers/common/templates/kubernetes/fragments/flannel-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add hostname-override to kube-proxy
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s_fedora: Label master nodes with kubectl
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Delete the ca-rotate api-ref
  api-ref/source/certificates.inc
Due: none

Convert fixed_subnet name to uuid for OCCM
  magnum/common/exception.py
  magnum/common/neutron.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/tests/unit/common/test_neutron.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Failed state was ignored for default ngs
  magnum/drivers/heat/driver.py
  magnum/tests/unit/drivers/test_heat_driver.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

update api-ref for clustertemplate
  api-ref/source/clustertemplates.inc
  api-ref/source/parameters.yaml
Due: none

Build cluster autoscaler container images
  .zuul.yaml
  dockerfiles/cluster-autoscaler/Dockerfile
  playbooks/container-builder-vars.yaml
  playbooks/container-builder.yaml
  playbooks/container-publish.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Support Fedora CoreOS 30
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/flannel-service.sh
  magnum/drivers/heat/driver.py
  magnum/drivers/k8s_fedora_coreos_v1/__init__.py
  magnum/drivers/k8s_fedora_coreos_v1/driver.py
  magnum/drivers/k8s_fedora_coreos_v1/template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/COPYING
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
  magnum/drivers/k8s_fedora_coreos_v1/version.py
  releasenotes/notes/fedora_coreos-e66b44d86dea380f.yaml
  setup.cfg
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

ng-13: Support nodegroup upgrade
  magnum/api/controllers/v1/cluster_actions.py
  magnum/common/exception.py
  magnum/conductor/handlers/cluster_conductor.py
  magnum/drivers/heat/driver.py
  magnum/tests/unit/api/controllers/v1/test_cluster_actions.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/drivers/test_k8s_fedora_atomic_v1_driver.py
  releasenotes/notes/upgrade_api-1fecc206e5b0ef99.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-12: Label nodegroup nodes
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-10: Fix cluster template conditions
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-11: API microversion 1.9
  magnum/api/controllers/v1/nodegroup.py
  magnum/api/controllers/versions.py
  magnum/tests/unit/api/controllers/test_root.py
  magnum/tests/unit/api/controllers/v1/test_nodegroup.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

zuul: drop secret from stable branch
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Release k8s v1.13.12, v1.14.8, v1.15.5, v1.16.2
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish
