Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

magnum-functional-base:
  parent: legacy-dsvm-base
  timeout: 7800
  nodeset: legacy-ubuntu-xenial
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  ...

magnum-functional-multinode-base:
  parent: legacy-dsvm-base-multinode
  timeout: 7800
  nodeset: legacy-ubuntu-xenial-2-node
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/diskimage-builder
  ...

magnum-functional-api:
  parent: magnum-functional-base
  vars:
    coe: api

magnum-functional-k8s:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode:
  parent: magnum-functional-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-functional-dcos:
  parent: magnum-functional-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: dcos

magnum-functional-mesos:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: mesos

magnum-functional-swarm:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: swarm

magnum-functional-k8s-ironic:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: k8s
    ironic: 1

magnum-functional-swarm-ironic:
  parent: magnum-functional-base
  voting: false
  vars:
    coe: swarm
    ironic: 1

magnum-functional-k8s-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

Updated from global requirements
  requirements.txt
  test-requirements.txt
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s_fedora: Add kubelet authentication/authorization
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
  releasenotes/notes/k8s_fedora_protect_kubelet-8468ddcb92c2a624.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Move openstackdocstheme to extensions in api-ref
  api-ref/source/conf.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s_fedora: Explicitly set etcd authentication
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  releasenotes/notes/configure-etcd-auth-bug-1759813-baac5e0fe8a2e97f.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Cache barbican certs for periodic tasks
  devstack/lib/magnum
  magnum/conductor/handlers/common/cert_manager.py
  magnum/conf/cluster.py
  magnum/drivers/heat/driver.py
  magnum/tests/unit/conductor/handlers/common/test_cert_manager.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s_fedora: Add flannel to master nodes
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/network-config-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Adding glossary.rst
  doc/source/index.rst
  doc/source/user/glossary.rst
  doc/source/user/index.rst
Due: none

Adding documentations about network in vms
  doc/source/user/index.rst
Due: none

Add missing RBAC config for Prometheus
  magnum/drivers/common/templates/kubernetes/fragments/enable-prometheus-monitoring
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fix a typo
  doc/source/admin/troubleshooting-guide.rst
Due: none

Make DNS pod autoscale
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  releasenotes/notes/dns-autoscale-90b63e3d71d7794e.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add calico-node on k8s master node
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add bindep.txt file
  bindep.txt
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Stop using slave_scripts/install-distro-packages.sh
  playbooks/pre/prepare-workspace-images.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add and improve tests for certificate manager
  magnum/tests/unit/conductor/handlers/common/test_cert_manager.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix incompatible requirement
  lower-constraints.txt
  requirements.txt
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Follow the new PTI for document build
  doc/requirements.txt
  setup.cfg
  test-requirements.txt
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

k8s_fedora: Add admin user
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  releasenotes/notes/bug-1766284-k8s-fedora-admin-user-e760f9b0edf49391.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Open the 8472 port of master for vxlan
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

[doc] Correct the non-existent link for the Fedora image
  doc/source/user/index.rst
Due: none

[doc] fix coredns correct image verison
  doc/source/user/index.rst
Due: none

Update ca related magnum comands to osc
  doc/source/user/index.rst
Due: none

k8s_fedora: Make CoreDNS config a SoftwareDeployment
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Use Octavia for LoadBalancer type service
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_coreos_v1/templates/fragments/write-heat-params-master.yaml
  magnum/drivers/k8s_coreos_v1/templates/fragments/write-heat-params.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubeminion_software_configs.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Strip signed certificate
  magnum/common/x509/operations.py
  magnum/tests/unit/common/x509/test_sign.py
  releasenotes/notes/strip-ca-certificate-555b23f5bcb8185b.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Release note for supporting Octavia as LoadBalancer type service backend
  releasenotes/notes/support-octavia-for-k8s-service-d5d7fd041f9d76fa.yaml
Due: none

Devicemapper storage driver need specified volume
  doc/source/user/index.rst
  magnum/api/validation.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Revert "Strip signed certificate"
  magnum/common/x509/operations.py
  magnum/tests/unit/common/x509/test_sign.py
  releasenotes/notes/strip-ca-certificate-555b23f5bcb8185b.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Strip signed certificate
  magnum/common/x509/operations.py
  magnum/tests/unit/common/x509/test_sign.py
  releasenotes/notes/strip-ca-certificate-a09d0c31c45973df.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
